<form action="/community/start">
  <ol>
    <li>Name: <input type="text" name="name"></li>
    <li>Survival Rate: <input type="text" name="survivalRate"></li>
    <li>Cross Overs: <input type="text" name="crossOvers"></li>
    <li>Mutation Rate: <input type="text" name="mutationRate"></li>
    <li>Population Size: <input type="text" name="populationSize"></li>
    <li>Generations: <input type="text" name="generations"></li>
    <li>Chromo Size: <input type="text" name="chromoSize"></li>
  </ol>

  <input type="submit" name="Submit">
</form>
