<table>
  <tr>
    <th>Score</th>
    <th>Chromosome</th>
  </tr>
    <% _.each(community.winners, function(winner) { %>
        <tr>
          <td><%= winner.score %></td>
          <td><%= winner.chromosome %></td>
        </tr>
        <% }) %>
</table>


